root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

[*.cs] 
# Suppress CA1859 (prefer concrete types) 
dotnet_diagnostic.CA1859.severity = none

# Suppress IDE0090 (new expression can be simplified) 
dotnet_diagnostic.IDE0090.severity = none 

# Suppress IDE0028 (collection initialization can be simplified) 
dotnet_diagnostic.IDE0028.severity = none 

# Suppress IDE0290 (use primary constructor) 
dotnet_diagnostic.IDE0290.severity = none 

# Suppress IDE0044 (make field readonly) 
dotnet_diagnostic.IDE0044.severity = none